<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <a href="{{ site.baseurl }}">
          <img class="logo" src="{{ site.baseurl }}public/assets/images/logo_big.png?142209c5c6999e9acdeef9492b0cbdbab8afb60c" height="240" width="160" alt="Cocoaheads Thessaloniki">
        </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="social-links">
        <a href="http://www.meetup.com/CocoaHeadsSKG/events/231711923/" data-event="231711923" class="mu-rsvp-btn">RSVP</a><br>
        <a href="https://speakerdeck.com/CocoaHeadsSKG"><img class="speakerdeck" src="{{ site.baseurl }}public/assets/images/speakerdeck.png" height="24" width="110" alt="CocoaHeadsSKG on Speaker Deck"></a>
        <div class="g-ytsubscribe" data-channelid="UCo7SSmiSt0R9ab1beWsX4ZA" data-layout="default" data-count="default"></div>
        <a href="https://twitter.com/cocoaheadsskg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @cocoaheadsskg</a>
      </div>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
